body {
	margin: 0;
	padding: 0;
	background-color: #333333;
	font-family: arial;
	font-size: 12px;
	color: #272727;
}
.header {
	background-color: #ffb300;
}
.searchbar {
	background-image: url(http://www.standardbank.co.za/images/mtnbanking/Banking3_02.jpg);
	background-repeat: repeat-x;
}
.searchbarField {
	background-color: #fff;
	border: 1px solid #cecece;
	height: 12px;
	font-family: Arial;
	font-size: 11px;
	padding: 4px;
	color: #2727272;
	width: 140px;
}
.homeContentBg {
	background-image: url(http://www.standardbank.co.za/images/mtnbanking/Banking2_06.jpg);
	background-repeat: no-repeat;
	background-position: top right;
}
.homeContent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4c4c4c;
	line-height: 16px;
	padding: 25px 0px 0px 25px;
}
.homeDivider {
	height: 18px;
	border-bottom: 1px solid #b1b1b1;
}
.search {
	background-color: #ffd024;
	padding: 5px;
	font-family: Arial;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
}
.searchfield {
	background-color: #fff;
	border: 1px solid #cecece;
	height: 13px;
	font-family: Arial;
	font-size: 10px;
	padding: 3px;
	color: #2727272;
	width: 96px;
}
.leftNav {
	background-color: #ffd024;
	padding: 5px;
	font-family: Arial;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
	border-top: 1px solid #ffbf00;
	border-right: 1px solid #ffbf00;
	border-left: 1px solid #ffbf00;
}
a.leftNavLink {
	font-family: Arial;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}
a.leftNavLink:hover {
	font-family: Arial;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
a.leftNavLink:visited {
	font-family: Arial;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}
.contentHeadArea {
	padding: 20px 5px 5px 5px;
}
.breadcrumb {
	font-family: Arial;
	font-size: 12px;
	color: #333333;
	padding: 0px 0px 25px 0px;
}
a.breadcrumbLink {
	font-family: Arial;
	font-size: 12px;
	color: #0f238c;
	font-weight: bold;
	text-decoration: none;
}
a.breadcrumbLink:hover {
	font-family: Arial;
	font-size: 12px;
	color: #0f238c;
	font-weight: bold;
	text-decoration: underline;
}
a.breadcrumbLink:visited {
	font-family: Arial;
	font-size: 12px;
	color: #0f238c;
	font-weight: bold;
	text-decoration: none;
}
.contentHead {
	padding: 1px 18px 3px 18px;
	border-top: 1px solid #ffbf00;
	border-right: 1px solid #ffbf00;
	border-left: 1px solid #ffbf00;
	font-family: Arial;
	font-size: 11px;
	color: #ffbf00;
	font-weight: bold;
}
.contentHeadRight {
	border-bottom: 1px solid #ffbf00;
}
.contentArea {
	font-family: Arial;
	font-size: 12px;
	color: #5a5a5a;
	padding: 22px 0px 22px 14px;
	line-height: 16px;
}
a {
	font-weight: normal;
	color: #5a5a5a;
	text-decoration: underline;
}
a:hover {
	font-weight: normal;
	color: #5a5a5a;
	text-decoration: none;
}
a:visited {
	font-weight: normal;
	color: #5a5a5a;
	text-decoration: underline;
}
ul li {
	font-family:Arial;
	font-size:12px;
	list-style-image:url(http://www.standardbank.co.za/images/mtnbanking/listBullet.gif);
	list-style-position:outside;
	margin: 0 0 3px -24px;
	padding: 0 0 0 -24px;
}
ol li {
	font-family:Arial;
	font-size:12px;
	list-style: decimal;
	list-style-position:outside;
	margin: 0 0 3px -24px;
	padding: 0 0 0 -24px;
}
.tabscontent {
	background-color: #f5f5f5;
	font-family: Arial;
	font-size: 12px;
	color: #5a5a5a;
	padding: 0px;
	border-bottom: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
}
.tabscontentIntro {
	background-color: #f5f5f5;
	font-family: Arial;
	font-size: 12px;
	color: #5a5a5a;
	padding: 10px;
}
.tableHeader {
	background-color: #ffb300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #272727;
	font-weight:bold;
	padding: 5px 10px 5px 10px;
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
}
.tableBody {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4c4c4c;
	padding: 5px 10px 5px 10px;
	border-bottom: 1px solid #fff;
}
.tableBodyEnd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4c4c4c;
	padding: 5px 10px 10px 10px;
}
.footer {
	background-color: #ffb300;
	font-family: Arial;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	padding: 13px 0px 3px 0px;
}
a.footerLink {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
a.footerLink:hover {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
a.footerLink:visited {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.number {
	color:#bb0000;
	font-weight:bold;
}